.footer{
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding: 3% 10%;
}

.footer-list{
    display: grid;
    color: white;
    width: 30%;
}

.footer-list:nth-child(0n+2){
    justify-content: center;
}

.footer-list:last-child{
    justify-content: end;
}

