.producto{
    background-color: #fff;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 5%;
}

.producto div{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    padding: 0 2%;
}

.producto div h2{
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 0.5em;
    color: black;
}

.producto div div{
    width: 80%;
}

.producto div div img{
    width: 90%;
}

/*producto div div div button{
    background-color: rgb(13, 110, 245);
    padding: 5% 0;
}

.producto button:hover{
    cursor: pointer;
    transform: scale(1.1);
}*/